/*removes default browser padding and margins */
body {
    margin: 0;
    padding: 0;
}

/*----------------- Colors */
.bg-color-navbar {
    background-color: #2e4b36;
}

/*----------------- Heading */


/*----------------- Navbar */
#navcontainer {
    margin: 0;
    padding: 0;
}

#nav li {
    font-size: 25px;
}

#nav li a {
    color: #e6e3d3;
    text-decoration: none;
}

/*----------------- Hero Image */


/*----------------- Footer */


/*----------------- Unused Classes and ID */
