/*removes default browser padding and margins */

body {
    margin: 0;
    padding: 0;
}

/*----------------- Colors */

.bg-color-bar {
    background-color: #2e4b36;
}

/*----------------- Heading */


/*----------------- Navbar */

#nav-outer {
    margin: 0;
    padding: 0;
}

#navbar {
    list-style-type: none;
    float: left;
    margin-bottom: 0;
    vertical-align: middle;
}

#navbar li {
    display: inline-block;
}

.navitem a {
    color: #e6e3d3;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10rem;
}

#navbar {
    padding: 2.5rem 5rem 2.5rem 12rem;
}

.navitem span {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#vines-img {
    height: auto;
    width: auto;
    max-width: 8rem; 
    float: right;
}

/*----------------- Hero Image */

#hero-container {
    background-image: url("../../assets/img/home-page/goblin-hero.png");
    background-color: black;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-container h1 {
    font-family: "Caveat", sans-serif;
    font-weight: 300;
    font-size: 5rem;
    color: #e6e3d3;
    text-align: center;
    padding: 20rem;
    background-color: rgba(0, 0, 0, 0.5);
}

/*----------------- Footer */

#footer-bar {
    
}

#footer-bar p {
    text-align: center;
    color: #e6e3d3;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding: 5%;
}

/*----------------- Media Query */

@media (max-width: 1250px) {
    
}