/*removes default browser padding and margins */

body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

/*----------------- Colors */

.bg-color-bar {
    background-color: #2e4b36;
}

.main-text-color {
    color: #e6e3d3;
}

.light-green-background {
    background-color: #5f725d;
}

.dark-brown-background {
    background-color: #312e28;
}

/*----------------- Default Fonts */

h2,
h4,
h5,
p,
a {
    font-family: "Roboto", sans-serif;
    color: #e6e3d3;
}

h1 {
    font-family: "Caveat", sans-serif;
    color: #e6e3d3;
}

/*----------------- Generic formatting */

h2 {
    padding-top: 2rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.half-screen-textbox {
    /*use for half-screen width textbox*/
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.split-screen {
    /*use for displaying content side by side*/
    display: flex;
    width: 100%;
}

.split-screen-img {
    /*use for half screen width image*/
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-images {
    height: 100%;
    width: auto;
}

.banner-container {
    overflow: hidden;
    background-image: url("../../assets/img/multi/dice-banner.webp");
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 100%;
}

.title-text {
    font-weight: 300;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    padding: 10vw 0 10vw 0;
    font-family: "Caveat", sans-serif;
    color: #e6e3d3;
}

.para-text p {
    text-align: left;
    font-size: 23px;
    margin-bottom: 30px;
}

.para-text {
    padding: 0px 100px 20px 100px;
}

.para-text ul {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    color: #e6e3d3;
    margin-bottom: 30px;
}

hr {
    color: #e6e3d3;
    padding: 10px 0px 10px 0px;
}

.fa-arrow-right {
    font-size: 25px;
}

/*----------------- Navbar */

header {
    position: relative;
    background-color: #2e4b36;
}

.navbar {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 2rem;
    z-index: 0;
    position: relative;
}

#main-nav {
    position: relative;
}

.navbar-brand {
    position: relative;
    z-index: 3;
}

#vines-container {
    z-index: 2;
    width: 100vw;
}

#vines-header {
    max-width: 1000px;
    width: 80%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0px;
    opacity: 0.2;
    overflow: hidden;
}

.navbar .nav-link {
    color: #e6e3d3 !important;
    opacity: 0.7;
}

.navbar .active {
    color: #e6e3d3 !important;
    opacity: 1;
    text-decoration: underline;
}

.navbar a {
    margin-left: 4rem;
    z-index: 2;
}

#logo {
    height: 100px;
    width: auto;
    position: absolute;
    z-index: 4;
    margin-top: 6px;
    margin-left: 6px;
}

.navbar-nav {
    margin-left: 50px;
}

/*----------------- Hero Image */

#hero-container {
    background-image: url("../../assets/img/home-page/goblin-hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#hero-container h1 {
    font-weight: 300;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    padding: 20vw;
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

/*----------------- Index Page */

#dnd-header,
#welcome-header {
    text-align: center;
    padding-bottom: 3rem;
    margin-bottom: 0;
}

#services-intro .para-text {
    padding-top: 30px;
}

#about-me-intro .para-text {
    padding-top: 50px;
}

/*----------------- Footer */

footer .container-fluid {
    display: flex;
}

#dice-logo {
    width: 100px;
    height: auto;
    padding: 0;
    margin-left: 20px;
}

#social-logos {
    padding: 0;
}

footer {
    background-color: #2e4b36;
    min-height: 120px;
    margin: 0;
}

footer .row {
    width: 100%;
    align-items: center;
}

footer i {
    font-size: 30px;
    padding: 0 0.8vw;
}

.webname {
    font-family: "Caveat", sans-serif;
    font-size: 30px;
}

footer ul {
    padding-left: 0;
    margin-bottom: 0;
}

#logo-footer {
    height: 100px;
    width: auto;
    margin-top: 6px;
    margin-left: 6px;
}

footer h5 {
    padding-right: 20px;
    margin-bottom: 0;
}

footer a {
    text-decoration: none;
}

.logo-right h5 {
    margin-left: 120px;
    padding-right: 0;
    padding-top: 40px;
}

.logo-left {
    float: left;
}

#contact {
    justify-items: flex-end;
}

/*----------------- Services Page*/

#services-intro {
    padding: 2rem;
    margin-bottom: 0;
}

#services-intro ul {
    font-size: 23px;
}

/*------Accordion*/
.accordion-header {
    background-color: #312e28;
    padding-bottom: 25px;
}

.accordion-button {
    background-color: #312e28;
    color: #e6e3d3;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    background-color: #312e28;
    color: #c8c29d;
    font-family: "Roboto", sans-serif;
}

.accordion-button:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.accordion-body {
    background-color: #312e28;
}

.accordion-body p,
.accordion-body ul {
    font-size: 18px;
    color: #e6e3d3;
}

.accordion-body ul {
    margin-left: 30px;
}

.accordion-button::after {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

/*----------------- Contact Form*/

#contactform {
    background-image: url("../../assets/img/contact-page/dragon-contact.webp");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #e6e3d3;
    border: 15px solid #312e28;
    padding: 10px;
}

#contactform h2 {
    text-decoration: underline;
    padding: 30px;
    font-size: 40px;
}

#contactform form {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    justify-content: center;
    margin: 10vw 25vw 10vw 25vw;
    text-align: center;
    padding: 40px 0px 40px 0px;
}

button {
    padding: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    border: 2px solid;
    border-radius: 4px;
    background-color: rgba(230, 227, 211, 0.7);
    font-size: 25px;
}

button {
    width: 20%;
}

.formitem {
    padding: 10px 10px 10px 0px;
}

#contactform p {
    padding: 30px 0 10px 0;
    font-size: 30px;
}

#experienceradio {
    font-size: 25px;
    margin-bottom: 30px;
}

#experienceradio label {
    padding: 5px;
}

#name {
    margin-left: 6px;
}

#email {
    margin-left: 9px;
}

input[type="radio"] {
    width: 18px;
    height: 18px;
}

#freetext {
    width: 70%;
    height: 300px;
    margin-top: 20px;
}

.modal-body,
.modal-header,
.modal-footer {
    background-color: #312e28;
}

.btn-danger {
    background-color: #4d0013;
    border-color: #4d0013;
    color: #e6e3d3;
    padding: 13px 30px 13px 30px;
    font-size: 20px;
}

/*----------------- Media Query */
@media only screen and (min-width: 993px) {
    #services-small {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    #vines-header {
        left: 80%;
    }
    footer .webname {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    header img {
        width: 80vw;
    }

    #dice-logo {
        padding-left: 10px;
    }

    #vines-header {
        left: 20%;
    }

    footer i {
        font-size: 25px;
    }

    .half-screen-textbox,
    .split-screen-img {
        width: 100%;
    }

    .block-display {
        display: block;
    }

    .column-reg {
        flex-direction: column;
    }

    .column-rev {
        flex-direction: column-reverse;
    }

    #services-large {
        display: none;
    }

    .button {
        font-family: "Roboto", sans-serif;
    }

    .accordion-btn-color {
        color: #e6e3d3;
    }

    .logo-container {
        display: flex;
        justify-content: center;
    }

    #logo {
        margin-left: 0;
        margin-right: 100px;
    }

    #main-nav {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #about-me-intro {
        padding-top: 0px;
    }

    .para-text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .para-text p {
        padding-bottom: 0px;
        font-size: 20px;
    }

    #contactform h2 {
        padding: 30px;
        font-size: 40px;
    }

    #contactform form {
        justify-content: center;
        margin: 2vw 2vw 10vw 2vw;
        text-align: center;
        padding: 20px 0px 20px 0px;
        font-size: 20px;
    }

    #freetext {
        width: 90%;
    }

    .modal {
        max-width: 80vw;
    }

    #services-intro ul {
        font-size: 20px;
    }
}

@media only screen and (max-width: 400px) {
    input[type="text"],
    input[type="number"],
    input[type="email"] {
        width: 200px;
    }
}
